.form-element {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.input-container label {
  font-weight: bold;
}

.input-container input {
  height: 20px;
}
